.App {
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  background: linear-gradient(.25turn, #e66465, #9198e5);
}

/* TODO: remove **/
.temp-images {
  height: 200px;
}

.VictoryContainer {
  justify-self: center;
  margin-left: 10px;
  max-width: 80%; 
}